@mixin user-select($value) {
  -moz-user-select: $value; 
  -khtml-user-select: $value; 
  -webkit-user-select: $value; 
  /* Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */ 
  -ms-user-select: $value;
  user-select: $value;
}